<div class="row">

  <!-- Blog Post Content Column -->
  <div class="col-lg-8">
    <!-- Title -->
    <h1>{{post.title}}</h1>


  <!-- Blog Post Content Column -->
  <div class="col-lg-8">

    <!-- Blog Post -->

    <!-- Title -->
    <h1>{{post.title}}</h1>


    <!-- Author -->
    <p class="lead">
      by <a href="#">{{post.autor}}</a>
    </p>
    <hr>
    <!-- Date/Time -->
    <p>
      <span class="glyphicon glyphicon-time"></span> Posted on {{post.date}}


    </p>

    <hr>
    <!-- Post Content -->
    <p class="lead">{{post.content}}
    </p>

    <button (click)="editPost()">edit</button>
    <button>add comment</button>
    <hr>
    <!-- Comment 
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Start Bootstrap
                <small>August 25, 2014 at 9:30 PM</small>
              </h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
              in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>

        </div>-->

    <button id="editPost" class="btn btn-defautl" (click)="editpost()">edit</button>
    <hr>

    <!-- Edit post  Form -->
    <div *ngIf="editPostZone" class="well">
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3">{{post.content}}</textarea>
        </div>
        <button id="submitPost" type="submit" class="btn btn-primary">Submit</button>
        <button id="cancelPost" type="submit" class="btn btn-primary" (click)="closeEditPost()">Close</button>
      </form>

    </div>

    <!-- Posted Comments -->
    <div class="media" *ngFor="let comment of post.commentsPost; let i = index">
      <a class="pull-left profileImaget" href="#">
        <img class="media-objec profileImage" src="./assets/profile.png" alt="">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{comment.author}}
          <small>{{comment.date}}</small>
        </h4>
        {{comment.content}}
      </div>

      <button id="editComment + i" class="btn btn-defautl buttonComment" (click)="editComment(i)">edit</button>

    </div>

    <!-- Edit comment  Form -->
    <hr>
    <div *ngIf="editCommentZone" class="well">
      <form role="form">
        <div class="form-group">
          <textarea id="editCommentArea" class="form-control" rows="5">{{editCommentArea}}</textarea>
        </div>
        <button id="submitComment" type="submit" class="btn btn-primary">Submit</button>
        <button id="closeComment" type="submit" class="btn btn-primary" (click)="closeEditComment()">Close</button>
      </form>

    </div>

    <!-- Comments Form -->
    <hr>
    <div class="well">
      <h4>Deja tu comentario:</h4>
      <form id="formEdited" role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <hr>


  </div>
  <!-- /.row -->
</div>