 <div id="menu" class="navbar navbar-default">
      <div class="navbar-header">
          <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
      <div id="logo">
          <a class="" href="#"><h3>Developer Site</h3></a>
        </div>
     </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="nav active"><a href=".">Home</a>
              </li>
              <li class="nav"><a routerLink="/blog" routerLinkActive="active"> blog</a>
              </li>
              <li class="nav"><a href="contact.html">about</a>
              </li>
          </ul>
      </div>
  </div>

<h1>
  <!--{{title}} -->
</h1>

<div class="container">


  <router-outlet></router-outlet>
</div>